.board {
  height: 70vh;
  width: 80%;
  margin: 5% auto;
}

.button {
  margin: 15% 0 0 0;
}

.board tr {
  border: 5px solid black;
  height: 50px; 
}

.board tr:first-child {
  border-width: 0 0 5px 0 !important;
}

.board tr:nth-child(2) {
  border-width: 5px 0 5px 0 !important;
}

.board tr:nth-child(3) {
  border-width: 5px 0 0 0 !important;
}

.board tr td:first-child {
  border-width: 0 5px 0 0 !important;  
}

.board tr td:nth-child(2) {
  border-width: 0 5px 0 5px !important;  
}

 .board tr td:nth-child(3) {
  border-width: 0 0 0 0 !important;  
}

.board td {
  width: 50px;
  max-width: 50px;
  border: 5px solid black; 
}

.board td {
  font-size: 4vw; 
  text-align: center;
  line-height: 2 !important;
  vertical-align: middle !important;
}

#turn-container {
  text-align: center;
}

#turn, .player {
  font-size: 2vw;
  font-weight: bold;
  display: block;
}
